* {
    scrollbar-width: thin;
    scrollbar-color: #FF6B1A #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color:#FF6B1A;
    border-radius: 20px;
    border: 3px solid #070d12;
}